.popup_no-auth {
  width: 80px;
  height: 115px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  top: 59px;
  right: 20px;
}

@media screen and (max-width: 1024px) {
  .popup_no-auth {
    right: 106px;
  }
}