.about {
  margin: 0;
}

.about__title {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.about__hr {
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin: 0 auto;
}

.about__text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 38px 0 19px 0;
  margin: 0;
}

.about__images {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  margin: 0;
  padding: 0 20px;
  height: 560px;
}

.about__buttons {
  display: grid;
  grid-template-columns: repeat(5, 26px);
  margin: 0;
  padding: 35px 0;
  list-style-type: none;
  justify-content: center;
}

.about__button {
  width: 26px;
  height: 26px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__button::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 100%;
}

.about__button_color-brown {
  width: 26px;
  height: 26px;
}

.about__button_color-brown::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #bb945f;
  border-radius: 100%;
}

.about__image-frame {
  display: none;
}

.about__buttons-frame {
  display: none;
}

@media screen and (max-width: 768px) {
  .about__text {
    
  }

  .about__images {
    display: none;
  }

  .about__images-frame {
    display: flex;
    justify-content: center;
  }

  .about__image-frame {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 0;
    padding: 0;
  }

  .about__image {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 560px;
  }

  .about__buttons {
    display: none;
  }

  .about__buttons-frame {
    display: grid;
    grid-template-columns: repeat(5, 26px);
    margin: 0;
    padding: 23px 0 25px 0;
    list-style-type: none;
    justify-content: center;
  }
}
