.coffee-shop__title {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 61px 600px 19px 610px;
  margin: 0;
}

.coffee-shop__hr {
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin: 0px auto;
}

.coffee-shop__text {
  text-transform: lowercase;
  margin: 0px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding: 36px 20px 40px 20px;
}

.coffee-shop__menu-container{
  display: grid;
  grid-template-columns: 1fr 480px 1fr;
  margin: 0px 20px;
}

.coffee-tea__block {
  grid-column: 1;
  margin: 0;
  width: 458px;
}

.coffee-tea__name-menu {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.coffee-tea__ul {
  margin: 20px 0 0 0;
  padding: 0px 20px 0 0;
}

.coffee-tea__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.coffee-tea__name-product-first {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 20px 0;
  width: 199px;
}

.coffee-tea__hr-first{
  width: 100px;
  height: 1px;
  background: #bb945f;
  margin: 8px 57px;
}

.coffee-tea__name-product {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 20px 0;
  width: 196px;
}

.coffee-tea__hr {
  width: 100px;
  height: 1px;
  background: #bb945f;
  margin: 8px 60px;
}

.coffee-tea__price {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.desserts-cakes__block {
  grid-column: 3;
  width: 485px;
}

.desserts-cakes__name-menu {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 20px 0px 145px;
  width: 317px;
}

.desserts-cakes__ul {
  padding: 20px 20px 0 0;
  margin: 0;
}

.desserts-cakes__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.desserts-cakes__name-product {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.desserts-cakes__hr {
  width: 100px;
  height: 1px;
  background: #bb945f;
  margin-right: 70px;
}

.desserts-cakes__price {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
