.favorites {
  margin: 0 0 52px 0;
}

.favorites__title {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.favorites__hr {
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin: 0 auto;
}

.favorites__subtitle {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 38px 0 0 21px;
}

.favorites__seasons {
  list-style-type: none;
  margin: 0;
  padding: 40px 0 39px 23px;
  display: flex;
  column-gap: 90px;
}

.favorites__season {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.favorites__season::after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 5px;
  position: absolute;
}

.favorites__season-radio {
  height: 17px;
  width: 17px;
  accent-color: #0c0c0e;
  margin: 0 20px 0 0;
  padding: 0;
  z-index: 1;
  cursor: pointer;
}

.favorites__season-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

.favorites__season-title_weight-700 {
  font-weight: 700;
}

.favorites__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 181px;
}

.favorites__card {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  margin: 0 0 0 20px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.favorites__card-popularity {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 15px 0 0 20px;
  margin: 0;
}

.favorites__card-hr {
  width: 60px;
  height: 1px;
  background: #bb945f;
  margin: 0 0 0 20px;
  border: 0;
}

.favorites__card-title {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 20px 0 0 19px;
  margin: 0;
}

.favorites__card-author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.favorites__card-about {
  width: 357px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 20px 0 0 20px;
  margin: 0;
  text-transform: capitalize;
}

.favorites__card-book {
  width: 200px;
  height: 300px;
  padding: 0;
  position: absolute;
  top: 255px;
  left: 389px;
  margin: 0;
}

.favorites__card-button {
  background-color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  color: #0c0c0e;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  width: 75px;
  height: 30px;
  position: absolute;
  top: auto;
  left: 20px;
  bottom: 12px;
  right: 0px;
  padding: 0;
  margin: 0;
}

.favorites__card-button:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}

.favorites__card-button_color-brown {
  background-color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  color: #bb945f;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #bb945f;
  width: 75px;
  height: 30px;
  position: absolute;
  top: auto;
  left: 20px;
  bottom: 15px;
  right: 0px;
}

.favorites__card-button_color-brown:hover {
  background-color: #fff;
  color: #bb945f;
  border: 1px solid #bb945f;
  cursor: default;
}

.favorites__card_display-none {
  display: none;
}
