.favorites-title {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 18px 640px 20px 640px;
  margin: 0;
}

.favorites-hr {
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin: 0 auto;
}

.favorites-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 36px 1186px 40px 21px;
}

.favorites-season {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  display: flex;
  padding-left: 20px;
}

.favorites-season-winter-icon,
.favorites-season-spring-icon,
.favorites-season-summer-icon,
.favorites-season-autumn-icon {
  padding: 0 20px 42px 0;
}

.favorites-season-winter {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0px 90px 40px 0;
}

.favorites-season-spring,
.favorites-season-summer,
.favorites-season-autumn {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 90px 40px 0;
}

.favorite-border {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  position: absolute;
  margin-left: 20px;
  margin-right: 40px;
}

.favorite-card-staff-picks {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 15px 428px 0px 40px;
  margin: 0;
}

.favorite-card-staff-picks-hr {
  width: 60px;
  height: 1px;
  background: #bb945f;
  margin: 0 470px 20px 40px;
}

.favorite-card-book {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 362px 20px 40px;
  margin: 0;
}

.favorite-card-author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.favorite-card-book-about {
  display: flex;
  width: 355px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 0 15px 15px 40px;
  margin: 0;
}

.favorite-card-book-photo {
  width: 200px;
  height: 300px;
  padding: 0;
  position: absolute;
}
