.favorites {
  margin-top: 96px;
}

.favorites-title {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 20px 640px 20px 640px;
  margin: 0;
}

.favorites-hr {
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin: 0 auto;
}

.favorites-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 37px 1186px 38px 21px;
}

.favorites-season {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  display: flex;
  padding-left: 20px;
}

.favorites-season-icon {
  padding: 6px 21px 39px 0;
}

.favorites-season-winter {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0px 90px 40px 0;
}

.favorites-season-spring,
.favorites-season-summer,
.favorites-season-autumn {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 90px 40px 0;
}

.favorites-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 182px;
}

.favorite-card {
  position: relative;
  width: 550px;
  height: 555px;
}

.favorite-border {
  width: 548px;
  height: 552px;
  border: 1px solid #000;
  position: absolute;
  margin-left: 20px;
  margin-right: 40px;
}

.favorite-card-staff-picks {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 15px 20px 0px 40px;
  margin: 0;
}

.favorite-card-staff-picks-hr {
  width: 60px;
  height: 1px;
  background: #bb945f;
  margin: 0 0px 0px 40px;
}

.favorite-card-book {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 16px 20px 20px 40px;
  margin: 0;
}

.favorite-card-author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.favorite-card-book-about {
  display: flex;
  width: 357px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 0 15px 0px 40px;
  margin: 0;
}

.favorite-card-book-photo {
  width: 200px;
  height: 300px;
  padding: 0;
  position: absolute;
  bottom: 0;
  top: 255px;
  left: 410px;
  margin: 0;
}

.buy-button-input {
  background-color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  color: #0c0c0e;
  line-height: normal;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 15px 292px 13px 40px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  width: 75px;
  height: 30px;
  position: absolute;
}

.buy-button-input-2 {
  display: inline-block;
  background-color: #fff;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 55px 292px 13px 40px;
}

.buy-button-input:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}

.buy-button-input-2:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer
}

.buy-button-input-4 {
  background-color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  color: #bb945f;
  line-height: normal;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 95px 292px 15px 40px;
  border-radius: 2px;
  border: 1px solid #bb945f;
  width: 75px;
  height: 30px;
  position: absolute;
}
