.popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0.2s ease-in, visibility 0.3s ease-out;
}

.popup__container {
  background-color: #fff;
}

.popup__header {
  display: flex;
  align-items: center;
}

.popup__close {
  cursor: pointer;
}

.popup_enable {
  opacity: 1;
  visibility: visible;
}
