.popup {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0.2s ease-in, visibility 0.3s ease-out;
  display: block;
}

.popup__container {
  background-color: #0c0c0e;
  width: 332px;
  height: 570px;
}

.popup__header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
  margin: 0 0 41px 0;
}

.popup__icon-profile {
  width: 28px;
  height: 28px;
  margin: 27px 45px 0 0;
  padding: 0;
  cursor: pointer;
}

.popup__close {
  width: 32px;
  height: 32px;
  margin: 31px 28px 0 0;
  padding: 0;
  cursor: pointer;
}

.popup__navigation {
  display: flex;
  justify-content: center;
}

.popup__navigation-links {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
  padding: 0;
  margin: 0;
}

.popup__navigation-link {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  transition: color 0.3s linear;
}

.popup__navigation-link:hover {
  color: #c0c0c0;
}

.popup_enable {
  opacity: 1;
  visibility: visible;
}
