.register {
  width: 250px;
  height: 382px;
  background: #fff;
  border: 1px solid #000;
}

.register__header {
  display: flex;
  justify-content: space-between;
}

.register__title {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  text-align: center;
}

.register__close-button {
  width: 15px;
  height: 15px;
  margin: 15px 15px 0 0;
}

.register__container {
  display: flex;
  flex-direction: column;
}

.register__form {
  margin: 20px 25px 0px 25px;
}

.register__text {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 9px 0;
}

.register__input {
  width: 200px;
  height: 20px;
  border: 1px solid #bb945f;
  padding: 0;
}

.register__button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: #fff;
  margin: 20px 0 0 0;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.register__footer {
  display: flex;
  gap: 10px;
}

.register__question {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 0 25px;
}

.register__register {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
}
