.popup_profile {
  display: flex;
  gap: 20px;
}

.popup__profile_sidebar {
  width: 170px;
  height: 400px;
  background: #0c0c0e;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__profile__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 139px 0 0 0;
}

.popup__profile_avatar-bg {
  width: 80px;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.popup__profile_avatar-name {
  color: #bb945f;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  margin: 0;
  position: absolute;
  top: 169px;
}

.popup__profile_name-bg {
  width: 120px;
  height: 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 234px;
  margin-left: 25px;
  position: absolute;
}

.popup__profile_name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.popup__header-profile {
  display: flex;
  position: relative;
}

.popup__title_profile {
  color: #000;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 35px 0 0 0;
}

.popup__close_profile {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 25px;
  left: 370px;
}

.popup__profile_type {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.popup__profile_footer {
  display: inline-flex;
  gap: 20px;
  justify-content: center;
  margin: 35px 0 0 0;
  width: 237px;
}

.popup__profile_footer-types {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.popup__profile_icon {
  width: 20px;
  height: 21px;
  margin: 10px 0;
}

.popup__profile_footer-icon-union {
  background-image: url(../img/union-icon.svg);
}

.popup__profile_footer-icon-star {
  background-image: url(../img/star-icon.svg);
}

.popup__profile_footer-icon-book {
  background-image: url(../img/book-icon.svg);
}

.popup__profile-footer-score {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.popup__text_profile {
  margin: 20px 0 0 0;
}

.popup__text_profile-rented-books {
  color: #0c0c0e;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.popup__text_profile-buy-book {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0 0 0;
  padding: 0 0 0 30px;
}

.popup__text_profile-book-name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.popup__text_profile-card-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  margin: 40px 0 0 0;
}

.popup__text_profile-card {
  color: #0c0c0e;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.popup__text_profile-card-number {
  color: #bb945f;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.popup__text_profile-copy {
  background-image: url(../img/icon_copy.svg);
  border: none;
  width: 13.31px;
  height: 12px;
  cursor: pointer;
}
